
.type-fine {
    -fx-type-color: rgba(255, 151, 0, 0.9) !important;
}

.type-error {
    -fx-type-color: rgb(230, 67, 84) !important;
}

.toast-view {
    -fx-padding: 5;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 3;
    -fx-border-color: rgba(0, 0, 0, 0.78) !important;
    -fx-background-color: -fx-type-color;
    -fx-text-fill: ladder(rgb(30, 30, 30), white, black);
}

.toast-view:hover {
    -fx-border-color: rgba(33, 33, 33, .4) !important;
}

.toast-close-button {
    -fx-base:#333 !important;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-padding: 2 0 2 0;
}

.toast-close-button:hover {
    -fx-background-color: rgb(200, 9, 65) !important;
    -fx-text-fill: #fff;
}

.toast-title {
    -fx-background-color: rgba(255, 255, 255, 0.8) !important;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-fill: ladder(rgba(255, 255, 255, 0.8), white, black);
}

.toast-type-label {
    -fx-background-color: rgba(255, 255, 255, .9) !important;
    -fx-background-radius: 5;
    -fx-text-fill: -fx-type-fill;
    -fx-border-radius: 5;
}
