.table-view {
    -fx-control-inner-background: -fx-base;
    -fx-background-color: -fx-base;
    -fx-table-cell-border-color: -fx-base;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-row-cell:selected {
    -fx-background-color: base-4 !important;
    -fx-background-radius: 4;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: white !important;
}

.table-cell {
    -fx-padding: 8 5 5 5;
    -fx-border-width: 0;
    -fx-alignment: CENTER-LEFT;
}

.column-header .label {
    -fx-padding: 3;
}

/* columns
*
*
*
*/
/*indicator*/
.indicator-cell {
    -fx-background-radius: 3px;
    -fx-padding: 3 15 3 15;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.indicator-low {
    -fx-background-color: #d60051;
}

.indicator-fine {
    -fx-background-color: #00778c;
}

.indicator-high {
    -fx-background-color: #d60051;
}

/*indicator*/

/*buttons*/

.table-view .button-cell {
    -fx-size: 1em;

    -fx-pref-height: -fx-size;
    -fx-max-height: -fx-size;
    -fx-min-height: -fx-size;
}

.table-view .icon-button-cell {
    -fx-background-radius: 11em;
    -fx-base: #0d2cff !important;
    -fx-text-fill: #a73135;
    -fx-padding: -2 2 0 3;
    -fx-alignment: CENTER;
    -fx-border-color: #ff8200;

    -fx-pref-width: -fx-size;
    -fx-min-width: -fx-size;
    -fx-max-width: -fx-size;
}
