.table-view {
    -fx-control-inner-background: -fx-base;
    -fx-background-color: -fx-base;
    -fx-table-cell-border-color: -fx-base;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-row-cell:selected {
    -fx-background-color: base-4 !important;
    -fx-background-radius: 4;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: white !important;
}

.table-cell {
    -fx-border-width: 0;
    -fx-alignment: CENTER-LEFT;
}

.column-header .label {
    -fx-padding: 3;
}

/* columns
*
*
*
*/
/*indicator*/
.indicator-cell {
    -fx-background-radius: 3px;
    -fx-padding: 3 15 3 15;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.indicator-low {
    -fx-background-color: #d60051;
}

.indicator-fine {
    -fx-background-color: #00778c;
}

.indicator-high {
    -fx-background-color: #d60051;
}

/*indicator*/

/*buttons*/
.button-col {
    -fx-padding: 5 2 2 2;
}

.image-col {
    -fx-padding: 20 20 20 20;
}

.table-view .button-cell {
    -fx-size: 2em;
    -fx-padding: 0 2 2 2;
    /*-fx-pref-height: -fx-size;*/
    /*-fx-max-height: -fx-size;*/
    /*-fx-min-height: -fx-size;*/
    -fx-base: #3a3a3a !important;
    /*-fx-background-color: #3300ff;*/
}

.table-view .icon-button-cell {
    -fx-size: 1.6em !important;
    -fx-base: #ffffff !important;
    -fx-padding: 0 2 2 2;
    -fx-alignment: CENTER;
    -fx-pref-width: -fx-size;
    -fx-min-width: -fx-size;
    -fx-max-width: -fx-size;
    -fx-border-width: 1;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.table-view .icon-button-cell.text-button-cell {
    -fx-size: 1.6em !important;
    -fx-base: #14b4ff !important;
    -fx-padding: 3 8 3 8;
    -fx-alignment: CENTER;
    -fx-pref-width: -1;
    -fx-min-width: -1;
    -fx-max-width: -1;
}

.RemoveButtonCol .icon-button-cell {
    -fx-base: #ff5568 !important;
    -fx-border-radius: 50em;
    -fx-background-radius: 50em;
}

.status-col-cell {
    -fx-base-colors: derive(-fx-base, 15%);
    -fx-background-color: -fx-base-colors;
    -fx-border-color: -fx-base;
    -fx-border-width: 2 8 2 8;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: ladder(-fx-base, white 70%, black 50%);
    -fx-padding: 2 8 2 8;
}
