.z-item-view .item-node-alone,
.z-item-view .item-node,
.z-item-view .item-label,
.z-item-view .sub-title, .z-item-view {
    border-color: #9999ff;
}

.z-item-view .item-label {
    /*    -fx-border-color: border-color;
        -fx-border-width:0 0 1 0 ;*/
    -fx-border-radius: 5;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: base-4;
}

.z-item-view .text {
    -fx-text-fill: #333;
}

.z-item-view .title-view {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 10;
}

.title-view .title {
    -fx-font-size: 16;
    -fx-text-fill: #3300ff;
}

.title-view .sub-title {
    -fx-font-size: 15;
    -fx-border-color: #ff6699;
    -fx-text-fill: base-4;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 5;
    -fx-padding: 5 15 5 15;
}


.z-item-view {
    -fx-background-color: #f7f7f7;
    -fx-border-color: #d8d8d8;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 0 0 1 0;
}
